* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: pink;
}



.amarillo {
    background-color: rgb(250, 250, 0);
    height: 100vh;
}
.azul {
    background-color: rgb(29, 29, 85);
    height: 100vh;
}
.verde {
    background-color: rgb(131, 177, 24);
    height: 50%;
  
    
}

.rojo {
    background-color: aqua;
    height:100vh ;
    padding: 0;
}

.verde {
    background-color: green;
    height: 25vh;
    padding: 0;
}
.rosa {
    background-color: rgb(242, 59, 178);
    height: 25vh;
    padding: 0;
}
.tu {
    background-color: rgb(2, 22, 32);
    height: 100vh;
}
.le {
    background-color: rgb(240, 78, 78);
    height: 100vh;
}
.te {
    background-color: rgb(78, 32, 75);
    height: 100vh;
}


@media screen and (max-width: 600px) {
   .amarillo {
    height: 10vh;
   }
  }
